@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  background-color: $body-bg;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  overflow-y: hidden;
  overflow-x: auto;
  max-height: 100vh;
}

h1 {
  font-size: 1em;
}

h1:hover {
  filter: blur(.5rem);
}

h3:hover {
  filter: blur(.5rem);
}

.head {
  color: teal;
}

.head:hover {
  filter: hue-rotate(90deg);
}

i {
  font-size: 3em;
  transform: skew(30deg, 20deg);
}

i:hover {
  font-size: .5em;
  transition-duration: 1s;
  transform: skew(30deg, 20deg);
}

img {
  transition-duration: 3s;
  max-height: 10%;
}

img:hover {
  transition-duration: 3s;
  transform: skew(30deg, 20deg);
}

main {}

.comment {
  background-color: paleturquoise;
}

.post-card {
  min-height: 30vh;
}

.post-img {
  filter: hue-rotate(20deg);
  max-height: 25%;
}

.post-img:hover {
  filter: hue-rotate(180deg);
}