@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h1:hover {
  filter: blur(.5rem);
}

h3:hover {
  filter: blur(.5rem);
}

.head {
  color: teal;
}

.head:hover {
  filter: hue-rotate(90deg);
}

i {
  font-size: 4em;
}

main {
  flex-grow: 1;
}

.post-card {
  min-height: 75vh;
}